src/main/mule/hello-world-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f62bcf4a-c752-4eb9-9e38-c801e754a3ce" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-world-appFlow" doc:id="86128f73-90cc-4c89-92ad-083ba7e2f96d" >
		<http:listener doc:name="Listener" doc:id="de0334c1-ee9f-4cc0-ab89-e8848ded58db" config-ref="HTTP_Listener_config" path="/api/*"/>
		<logger level="INFO" doc:name="Logger" doc:id="7614d32a-19cc-43e4-beb8-7e5020a6445a" message="#[correlationId] Request received"/>
		<ee:transform doc:name="Transform Message" doc:id="af783716-27fc-4d55-8d2f-2738aeaf218d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "API is up and runnings"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6ff17feb-192f-48f5-b0f9-adeefeffdad6" message="#[correlationId] Request Processed"/>
	</flow>
</mule>
